*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#main-container{
    display: flex;
    height: 100vh;
    background-color: #faf3e9;
}

#address-container, #form-container{
    flex: 1 1 0;
    height: 100%;
    text-align: center;
}

#address-container{
    background-image:url('../img/lamp5.jpg');
    background-size: cover;
    /* background-position: center; */
    background-position-x: +600px;
    /* transform: scaleX(-1); */
    color: #fff;
    position: relative;
}

.fade{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .7;
}

#address-content{
    position: absolute;
    top: 25vh;
    left: 35%;
    width: 300px;
}
#address-content h2{
    color: #ed8b00;
    margin-bottom: 15px;
    position: relative;
    /* padding-left: 10px; */
}

#address-content ion-icon{
    position: absolute;
    top: 0;
    left: 50px;
}
#address-content p{
    font-weight: bold;
    margin-bottom: 50px;
}

#form-container{
    background-color: #faf3e9;
    padding-top: 60px;
    text-align: center;
}
#form-container h2{
   color: #ed8b00;
   margin-bottom: 50px;
   font-size: 30px;
}

#contact-form{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#contact-form label,
#contact-form input,
#contact-form textarea{
    background-color: #faf3e9;
    display: block;
    padding: 10px;
    border: solid 1px #ddd;
    width: 100%;
    color: #aaa;
}

#contact-form label{
    color: #999;
    font-weight: bold;
    border: none;
}

#contact-form input{
    margin-bottom: 15px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder{
    color: #999; 
}

#contact-form textarea{
    height: 80px;
}

#contact-form input[type='submit']{
    background-color: #ed8b00;
    color: #fff;
    font-size: 16px;
    font-weight: 300px;
    cursor: pointer;
    width: 300px;
    margin: 30px auto;
    border: 2px solid transparent;
    transition: .5s;
    
}

#contact-form input[type='submit']:hover{
    border-color: #ed8b00;
    color: #ed8b00;
    background-color: #faf3e9;
}

@media screen and (max-width: 865px){
    #main-container{
        /* height: 100%; */
        flex-wrap: wrap;
    }

    #address-container, 
    #form-container{
        flex: 1 1 100%;      
    }

    #form-container{
        order: -1;
        /* padding: 20px; */
    }

    #contact-form input,
    #contact-form label,
    #contact-form textarea{
        width: 80%;
        margin: auto;
    }

    #contact-form{
        width: 100%;
    }

    #address-content{
        left: 20%;
    }

}